<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/integration"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/util
			http://www.springframework.org/schema/util/spring-util.xsd
			http://www.springframework.org/schema/integration
			http://www.springframework.org/schema/integration/spring-integration.xsd">

	<channel id="inputRouter" datatype="Transaction" />
	<channel id="legacyChannel" />
	<channel id="webServiceChannel" />
	
	<gateway id="inputGateway" service-interface="org.pruebamagica.InputGateway" default-request-channel="inputRouter"/>

	<chain input-channel="inputRouter">
		<header-enricher>
			<header name="type" expression="@transaction.deviceType"/>
		</header-enricher>
		<recipient-list-router apply-sequence="true">
			<recipient selector-expression="headers.type = POS" channel="webServiceChannel"/>
			<recipient channel="legacyChannel"/>
		</recipient-list-router>
	</chain>
	
	<bean id ="webServiceAdapter" class="org.pruebamagica.WebServiceAdapter"/>
	<bean id ="legacyAdapter" class="org.pruebamagica.LegacyAdapter"/>
	
	<outbound-channel-adapter ref="legacyAdapter"  channel="legacyChannel" method="process"/>
	<outbound-channel-adapter ref="webServiceAdapter" channel="webServiceChannel" method="process"/>
	
</beans:beans>
